:root {
  /* Colors */

  /* Primary */
  --orange-500: hsl(25, 97%, 53%);

  /* Neutral */
  --white: hsl(0, 100%, 100%);
  --grey-500: hsl(217, 12%, 63%);
  --grey-900: hsl(213, 19%, 18%);
  --grey-950: hsl(216, 12%, 8%);
  --bg-circle: var(--grey-900);

  /* Typography */

  /* Font */
  --font-primary: "Overpass", sans-serif;

  /*   Sizes */
  --title: clamp(1.5rem, 1.37rem + 0.56vw, 1.875rem);
  --body: clamp(0.875rem, 0.85rem + 0.1vw, 0.9375rem);
  --submit: 1rem; /* 16px */

  /* Weights */
  --fw-regular: 400;
  --fw-bold: 700;

  /*  Border Radii  */
  --card: 2rem;
  --button: 100rem;
  --circle: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  line-height: 1.6;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--card);
  background-color: var(--grey-950);
  width: 90%;
  max-width: 27rem;
  padding-block: clamp(1.5rem, 5vw, 2.25rem);
  padding-inline: clamp(1.5rem, 5vw, 2.25rem);
  gap: clamp(1.25rem, 4vw, 2rem);
  cursor: default;
}

.star-container {
  display: block;
  float: left;
  background-color: var(--bg-circle);
  border-radius: var(--circle);
  display: flex;
  align-self: flex-start;
  justify-content: center;
  padding: 1rem;
}

.text-content {
  display: block;
  width: 100%;
}

.title {
  font-size: var(--title);
  color: var(--white);
  margin-block-end: 0.5rem;
}

.directions {
  color: var(--grey-500); 
}

.rating-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.number-btn {
  border-radius: var(--circle);
  width: clamp(2.625rem, 1rem + 6.9vw, 3.25rem);
  height: clamp(2.625rem, 1rem + 6.9vw, 3.25rem);
  aspect-ratio: 1 / 1;
  color: var(--grey-500);
  font-weight: var(--fw-bold);
  background-color: var(--bg-circle);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-end: .5rem;
}

.number-btn:hover {
  background-color: var(--orange-500);
  color: var(--grey-950);
}

.number-btn.selected {
  background-color: var(--white);
  color: var(--grey-950);
}

.submit-btn {
  text-transform: uppercase;
  color: var(--grey-950);
  letter-spacing: 2px;
  font-size: var(--submit);
  font-weight: var(--fw-bold);
  background-color: var(--orange-500);
  border-radius: var(--button);
  border: none;
  width: 100%;
  padding-block-start: .85rem;
  padding-block-end: .85rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: var(--white);
}

.display-none {
  display: none;
}

.container.clickable-bg {
  cursor: pointer;
}

.thank-you-state {
  text-align: center;
  align-items: center;
}

.selection-badge {
  background-color: var(--bg-circle);
  color: var(--orange-500);
  padding: 0.5rem 1rem;
  border-radius: var(--button);
  font-size: var(--body);
}

/* Media Queries */
@media (min-width: 90rem) {
  /* 1440px */
}
