:root {
  /* Colors */

  /* Primary */
  --orange-500: hsl(25, 97%, 53%);

  /* Neutral */
  --white: hsl(0, 100%, 100%);
  --grey-500: hsl(217, 12%, 63%);
  --grey-900: hsl(213, 19%, 18%);
  --grey-950: hsl(216, 12%, 8%);
  --bg-circle: hsla(0, 0%, 100%, 0.05);

  /* Typography */

  /* Font */
  --font-primary: "Overpass", sans-serif;

  /*   Sizes */
  --title: clamp(1.5rem, 1.41rem + 0.38vw, 1.75rem); /* 28px */
  --body: clamp(0.875rem, 0.85rem + 0.1vw, 0.9375rem); /* 15px */
  --submit: 1rem; /* 16px */

  /* Weights */
  --fw-regular: 400;
  --fw-bold: 700;

  /*  Border Radii  */
  --card: 2rem;
  --button: 100rem;
  --circle: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  line-height: 1.6;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--grey-950);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--card);
  background-color: var(--grey-900);
  width: 100%;
  max-width: 26.5rem;
  padding: clamp(1.25rem, 5vw, 2rem);
  gap: clamp(1.09375rem, 3.5vw, 1.75rem);
  cursor: default;
}

.star-container {
  background-color: var(--bg-circle);
  border-radius: var(--circle);
  display: flex;
  align-self: flex-start;
  justify-content: center;
  padding: clamp(1rem, 0.5rem + 1.1vw, 1.25rem);
}

.text-content {
  display: block;
  width: 100%;
}

.title {
  font-size: var(--title);
  color: var(--white);
}

.directions {
  color: var(--grey-500);
}

.rating-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.number-btn {
  border-radius: var(--circle);
  width: clamp(2.75rem, 1rem + 6.4vw, 3.25rem);
  height: clamp(2.75rem, 1rem + 6.4vw, 3.25rem);
  aspect-ratio: 1 / 1;
  color: var(--grey-500);
  font-weight: var(--fw-bold);
  background-color: var(--bg-circle);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number-btn:hover {
  background-color: var(--orange-500);
  color: var(--grey-900);
}

.number-btn.selected {
  background-color: var(--white);
  color: var(--grey-900);
}

.submit-btn {
  text-transform: uppercase;
  color: var(--grey-900);
  letter-spacing: 0.125em;
  font-size: var(--submit);
  font-weight: var(--fw-bold);
  background-color: var(--orange-500);
  border-radius: var(--button);
  border: none;
  width: 100%;
  padding-block: clamp(0.75rem, 0.71rem + 0.2vw, 0.85rem);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: var(--white);
}

.display-none {
  display: none;
}

.container.clickable-bg {
  cursor: pointer;
}

.thank-you-state {
  text-align: center;
  align-items: center;
}

.selection-badge {
  background-color: var(--bg-circle);
  color: var(--orange-500);
  padding-block: clamp(0.375rem, 0.32rem + 0.2vw, 0.5rem);
  padding-inline: clamp(0.75rem, 0.5rem + 1.1vw, 1rem);
  border-radius: var(--button);
  font-size: var(--body);
}

/* Media Queries */
@media (min-width: 90rem) {
  /* 1440px */
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}
